<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NhanVienController</servlet-name>
        <servlet-class>controller.NhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemNhanVien</servlet-name>
        <servlet-class>controller.ThemNhanVien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNhanVienController</servlet-name>
        <servlet-class>controller.UpdateNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LuongController</servlet-name>
        <servlet-class>controller.LuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLuongController</servlet-name>
        <servlet-class>controller.UpdateLuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LichSuLuongController</servlet-name>
        <servlet-class>controller.LichSuLuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNhanVienController</servlet-name>
        <servlet-class>controller.DeleteNhanVienController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NhanVienController</servlet-name>
        <url-pattern>/NhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemNhanVien</servlet-name>
        <url-pattern>/ThemNhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNhanVienController</servlet-name>
        <url-pattern>/UpdateNhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LuongController</servlet-name>
        <url-pattern>/Luong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLuongController</servlet-name>
        <url-pattern>/UpdateLuong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LichSuLuongController</servlet-name>
        <url-pattern>/LichSuLuong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNhanVienController</servlet-name>
        <url-pattern>/DeleteNhanVien</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
