<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/a</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NhanVienController</servlet-name>
        <servlet-class>controller.NhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemNhanVien</servlet-name>
        <servlet-class>controller.ThemNhanVien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNhanVienController</servlet-name>
        <servlet-class>controller.UpdateNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LuongController</servlet-name>
        <servlet-class>controller.LuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLuongController</servlet-name>
        <servlet-class>controller.UpdateLuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LichSuLuongController</servlet-name>
        <servlet-class>controller.LichSuLuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNhanVienController</servlet-name>
        <servlet-class>controller.DeleteNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhongBanController</servlet-name>
        <servlet-class>controller.PhongBanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachNhanVienController</servlet-name>
        <servlet-class>controller.DanhSachNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuaTrinhCongTacController</servlet-name>
        <servlet-class>controller.QuaTrinhCongTacController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChuyenNhanVienController</servlet-name>
        <servlet-class>controller.ChuyenNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemPhongBanController</servlet-name>
        <servlet-class>controller.ThemPhongBanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePhongBanController</servlet-name>
        <servlet-class>controller.UpdatePhongBanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePhongBanController</servlet-name>
        <servlet-class>controller.DeletePhongBanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NhanVienController</servlet-name>
        <url-pattern>/NhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemNhanVien</servlet-name>
        <url-pattern>/ThemNhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNhanVienController</servlet-name>
        <url-pattern>/UpdateNhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LuongController</servlet-name>
        <url-pattern>/Luong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLuongController</servlet-name>
        <url-pattern>/UpdateLuong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LichSuLuongController</servlet-name>
        <url-pattern>/LichSuLuong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNhanVienController</servlet-name>
        <url-pattern>/DeleteNhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhongBanController</servlet-name>
        <url-pattern>/PhongBan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachNhanVienController</servlet-name>
        <url-pattern>/DanhSachNhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuaTrinhCongTacController</servlet-name>
        <url-pattern>/QuaTrinhCongTac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChuyenNhanVienController</servlet-name>
        <url-pattern>/ChuyenNhanVien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemPhongBanController</servlet-name>
        <url-pattern>/ThemPhongBan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePhongBanController</servlet-name>
        <url-pattern>/UpdatePhongBan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePhongBanController</servlet-name>
        <url-pattern>/DeletePhongBan</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
